body {
	background: url('CNA_Building_rotated1.jpg') no-repeat;
	background-position: -434px 0; 
}
.building {
	width: 300px;
	height: 400px; 
	margin-top: 218px;
	margin-left: 463px;
}
.window-column {
	height: 571px;
	width: 80px; 
	background-color: red; 
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}
.window {
	height: 16px;
	width: 16px; 	
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	background-color: grey;
}
.window.on {
	background-color: white; 
}
.form {
	margin-top: 566px;
	margin-left: 463px;
}